@{
    ViewData["Title"] = "Home";
}

<div class="home-container">
    <!-- Logo Section -->
    <div class="logo-section">
        <img src="~/images/ftflogo.png" alt="Feed the Furballs Logo" />
    </div>

    <!-- Introduction Section -->
    <div class="introduction">
        <h1>Welcome to Feeding the Furballs</h1>
        <p>
            Feeding the Furballs is both a registered public beneficiary and non-profit 
            organisation that is striving to provide rescue animals and rescue organisations 
            with food supplies.
        </p>
    </div>   

    <!-- Featured Section -->
    <div class="img-fluid">      
         <img src="~/images/Labrador 2.png" alt="Animal Image 1" />
    </div>

    <div class="introduction">
        <h1>Our Mission</h1>
        <p>
            Our mission is to better the world through kindness to animals by assisting rescuers with food and 
            supplies, allowing them to focus on their rescue work. We aim to inspire others to adopt rather than
            to shop, network animals in need of forever homes, and encourage everyone to help furballs in need.
        </p>
    </div>

</div>
