@{
    ViewData["Title"] = "Our Suppawters";
}

<div class="container text-center my-5">
    <h2 class="text-purple my-4">OUR SUPPAWTERS</h2>
    <div class="row justify-content-center align-items-center">
        <!-- Sponsor Logos -->
        <div class="col-md-3 my-2">
            <img src="~/images/hills.png" alt="Hills" class="img-fluid" />
        </div>
        <div class="col-md-3 my-2">
            <img src="~/images/marltons.png" alt="Marltons" class="img-fluid" />
        </div>
        <div class="col-md-3 my-2">
            <img src="~/images/eukanuba.png" alt="Eukanuba" class="img-fluid" />
        </div>
        <div class="col-md-3 my-2">
            <img src="~/images/iams.png" alt="IAMS" class="img-fluid" />
        </div>
        <div class="col-md-3 my-2">
            <img src="~/images/royalcanin.png" alt="Royal Canin" class="img-fluid" />
        </div>
        <div class="col-md-3 my-2">
            <img src="~/images/pethealthcare.png" alt="Pet Healthcare" class="img-fluid" />
        </div>
    </div>
    
</div>
