@model FeedTheFurballsMVC.Models.DonationGoal

@{
    ViewData["Title"] = "Create Donation Goal";
}

<h1>Create</h1>

<h4>Donation Goal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" required />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" required />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GoalAmount" class="control-label">Goal Amount</label>
                <input asp-for="GoalAmount" class="form-control" required />
                <span asp-validation-for="GoalAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalDonations" class="control-label">Total Donations</label>
                <input asp-for="TotalDonations" class="form-control" required />
                <span asp-validation-for="TotalDonations" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Goal" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
