@{
    ViewBag.Title = "How Can You Help?";
}

<style>
    .donate-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: black;
        background-color: #D3D3D3; /* Grey background */
        border: none;
        border-radius: 5px;
        text-decoration: none; /* Remove underline */
        transition: background-color 0.3s;
    }

        .donate-button:hover {
            background-color: #E5E4E2; /* Platinum on hover */
        }
</style>

<main>
    <section class="intro">
        <div class="image-container">
            <img src="images/Multi-Puppies.png" alt="Dogs and Cats" width="750">
        </div>
        <h1>You Can Help Us In Any of the Following Ways</h1>
    </section>


    <section class="donations">
        <div class="monetary" style="background-color:#f9f9f9; padding: 20px; border: 1px solid #ddd; margin-bottom: 40px;">
            <h2>Monetary Donations</h2>
            <div class="donation-methods">
                <div class="method">
                    <h3>Bank EFT</h3>
                    <p>Feeding the Furballs<br>First National Bank<br>Acc No: 62485795622<br>Branch Code: 250655</p>
                </div>
                <div class="method">
                    <h3>Debit Order</h3>
                    <p>Fill in and submit our <a href="https://www.feedingthefurballs.org/payment-mandate.php">Debit Order Form</a></p>
                </div>
                <div class="method">
                    <h3>PayPal</h3>
                    <a href="https://www.paypal.com/donate?token=tTC-qDY-__xYc3M0QnigNGXfrQDswbUUTd6Zx10x4IEjkTLUHsHVstdq9y0MKQULk9LUXHczrxbvPG6U" class="donate-button">Donate</a>
                </div>
                <div class="method">
                    <h3>Zapper</h3>
                    <a href="https://www.zapper.com/payWithZapper/?qr=http%3A%2F%2F2.zap.pe%3Ft%3D8%26i%3D18686%3A16856%3A7%5B34%7C10.00-20.00-50.00-1%7C15%2C61%3A10%5B39%7CZAR%2C38%7CFeeding%20the%20Furballs" class="donate-button">Donate</a>
                </div>
            </div>
        </div>

        <div class="items" style="background-color:#fff; padding: 20px; border: 1px solid #ddd;">
            <h2>Item Donations</h2>
            <div class="item-categories">
                <div class="category">
                    <h3>General Items Needed</h3>
                    <ul>
                        <li>15kg Washing Powder</li>
                        <li>4 x 3.6kg Crystal Cat Litter</li>
                        <li>48 Rolls of Toilet Paper</li>
                        <li>100 Tins of Catfood</li>
                        <li>8 Bottles of Jeyes Fluid</li>
                        <li>84 Rolls Bluff Pet Mince</li>
                        <li>56kgs Vet Branded Catfood</li>
                        <li>2 x 5l Pine Gel Cleaner</li>
                        <li>28 Tubs Chicken Liver</li>
                    </ul>
                </div>
                <div class="category">
                    <h2>Other Items Needed</h2>
                    <ul>
                        <li>Dry cat food (Whiskas, Friskies)</li>
                        <li>Wet cat food (Pampers)</li>
                        <li>Dry dog food</li>
                        <li>Wet dog food (husky chunks)</li>
                        <li>Russel Rabbit food</li>
                        <li>Marltons rabbit food</li>
                        <li>Hay</li>
                        <li>Rescue Remedy</li>
                        <li>Dishwashing liquid</li>
                        <li>Floor cleaner</li>
                        <li>Bleach</li>
                        <li>Handy Andy</li>
                        <li>Top loader washing powder</li>
                        <li>Cat litter</li>
                        <li>Rice</li>
                        <li>Rice - brown</li>
                        <li>Chicken livers/hearts/pieces</li>
                        <li>Bin bags</li>
                        <li>Bowls</li>
                        <li>Detol</li>
                        <li>Glucose powder</li>
                        <li>S26</li>
                        <li>Cerelac rice cereal</li>
                        <li>Raisins</li>
                        <li>Puffed wheat cereal</li>
                        <li>Unpopped popcorn</li>
                        <li>Peanut butter</li>
                        <li>Apricot jam</li>
                        <li>Honey</li>
                        <li>Samp and beans</li>
                        <li>Teddy vites</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>All cash donations will be used to purchase items in bulk at a discounted rate.</p>
    <p>Contact <a href="Contact">Farrah</a> to arrange collection/drop off.</p>
    
</footer>

