@{
    ViewData["Title"] = "Contact Us";
}

<div class="contact-section">
    <h1>Contact Us</h1>
    <div class="contact-info">
        <div class="contact-item">
            <img src="images/admin-dog.png" alt="Admin">
            <h3>App Admin</h3>
            <p>techforgoodgroup@gmail.com</p>
        </div>
        <div class="contact-item">
            <img src="images/yorkie-dog.png" alt="Farrah">
            <h3>Human In Charge</h3>
            <p>Farrah Maharajh</p>
            <p>farrah@feedingthefurballs</p>
            <p>+27 83 793 6897</p>
        </div>
    </div>
    
</div>

